* linguist-vendored
*.ino linguist-vendored=false
*.c linguist-vendored=false
*.dart linguist-vendored=false
*.swift linguist-vendored=false
*.java linguist-vendored=false
*.cmake linguist-vendored=false

*.cmake linguist-language=C
